<%- include('partials/header.ejs') %>

  <body class="avatarbody">
    <!-- Nav -->
    <header class="navbar">
      <nav>
        <section class="navContainer">
          <section>
            <img class="logo" src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="logo" />
            <p>DOUBLEPUMP</p>
          </section>
          <ul class="navbar-nav">
            <li>
              <a href="/"><i class="bx bxs-home"></i> GameHub</a>
            </li>
            <li>
              <a href="/avatar"><i class="bx bx-male-female"></i> Personages</a>
            </li>
            <li>
              <a class="active" href="/favorieten"><i class="bx bxs-heart"></i> Favorieten</a>
            </li>
            <li>
              <a href="/zwartelijst"><i class="bx bxs-x-circle"></i> Zwarte lijst</a>
            </li>
            <li class="profile">
              <img src="/assets/popje3.webp" alt="Profile Picture" class="profile-picture-nav">
              <a href="/profiel"> Gebruikersnaam</a>
            </li>
          </ul>
        </section>
      </nav>
    </header>

    <main>
      <section class="avatars">
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje5.jpeg" alt="Brilliant Bomber" /></a>
          <p>Brilliant Bomber</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje6.jpeg" alt="Ninja" /></a>
          <p>Ninja</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje8.jpeg" alt="Ramirez" /></a>
          <p>Ramirez</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje3.webp" alt="Meowscles" /></a>
          <p>Meowscles</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje5.jpeg" alt="Brilliant Bomber" /></a>
          <p>Brilliant Bomber</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje7.jpeg" alt="Ghoul Trooper" /></a>
          <p>Ghoul Trooper</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje3.webp" alt="Meowscles" /></a>
          <p>Meowscles</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
            <img src="/assets/popje3.webp" alt="Meowscles" /></a>
          <p>Meowscles</p>
        </article>
      </section>
    </main>
    <section class="modal fade" id="myModal" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
      <article class="modal-dialog favorieten-modal-dialog">
        <article class="modal-content">

          <header class="modal-header">
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Sluiten"></button>
          </header>

          <section class="modal-body">
            <section class="left-section">
              <h2 id="modal-title">Personage Naam</h2>
              <img id="modal-image" src="/assets/popje3.webp" alt="Ninja" />
            </section>
            <section class="right-section">
              <h3 class="outfit-type">Rare Outfit</h3>
              <img class="v-buck" src="/assets/one-v-buck-dpf.png" alt="vbuck" />
              <p class="outfit-price">
                <span class="price">1,200</span>
              </p>
              <p class="outfit-description">Venture beyond the ninth life.</p>
              <hr />
              <ul class="row">
                <li class="col">
                  <section class="dropdown1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="backpackDropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Selecteer BackBling
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="backpackDropdown">
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_40ee15ba-8b35-49a9-b94a-cc0830f40257.jpg" alt="Rugzak 1"
                            class="dropdown-item-image" />
                          <span class="item-name">Rugzak 1</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="Rugzak 2"
                            class="dropdown-item-image" />
                          <span class="item-name">Rugzak 2</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/popje8.jpeg" alt="Rugzak 3" class="dropdown-item-image" />
                          <span class="item-name">Rugzak 3</span>
                        </a>
                      </li>
                    </ul>
                  </section>
                </li>
                <li class="col">
                  <section class="dropdown2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="pickaxeDropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Selecteer Pickaxe
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="pickaxeDropdown">
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_40ee15ba-8b35-49a9-b94a-cc0830f40257.jpg" class="dropdown-item-image" />
                          <span class="item-name">Pickaxe 1</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" class="dropdown-item-image" />
                          <span class="item-name">Pickaxe 2</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/popje8.jpeg" class="dropdown-item-image" />
                          <span class="item-name">Pickaxe 3</span>
                        </a>
                      </li>
                    </ul>
                  </section>
                </li>
              </ul>
              <ul class="row mt-3">
                <li class="col">
                  <p>Wins: <span id="wins-count">0</span></p>
                  <section>
                    <button type="button" class="btn btn-success" onclick="increaseWins()">
                      +1 Win
                    </button>
                    <button type="button" class="btn btn-warning" onclick="decreaseWins()">
                      -1 Win
                    </button>
                  </section>
                </li>
                <li class="col">
                  <p>Losses: <span id="losses-count">0</span></p>
                  <section>
                    <button type="button" class="btn btn-danger" onclick="increaseLosses()">
                      +1 Loss
                    </button>
                    <button type="button" class="btn btn-warning" onclick="decreaseLosses()">
                      -1 Loss
                    </button>
                  </section>
                </li>
              </ul>
            </section>
          </section>
          <textarea class="notes-section mt-3" id="notes" placeholder="Voeg notities toe" style="height: 200px;"></textarea>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">
              Sluiten
            </button>
            <button type="button" class="btn btn-primary me-3">Opslaan</button>
            <button type="button" class="btn btn-danger">Zwarte Lijst</button>
          </footer>
    </section>
    </article>
    </article>
    </section>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="bx bxs-up-arrow"></i>
    </button>
  </body>

  </html>