<%- include('partials/header.ejs') %>

  <body class="landingbody">
    <!-- Nav -->

    <main>
      <section class="imgContainer">
        <img src="assets/gamehub.png" alt="" id="gamehubimg" />
      </section>
      <h1 class="welcome-title">Welkom!</h1>
      <p class="welcome-text">
        Welkom op onze game hub DoublePump! <br />
        Registreer zo snel mogelijk om gebruik te kunnen maken van de beste
        gamehub in de Benelux.
      </p>

      <!-- Game Blocks -->
      <section class="games">
        <article class="game" id="fortnite">
          <abbr title="Fortnite">
            <a href="#" data-bs-target="#login" data-bs-toggle="modal"><img id="fortimg" src="/assets/fortnite.jpeg"
                alt="Game Image" /></a>
          </abbr>
        </article>
        <article class="game" id="fifa">
          <abbr title="Fifa">
            <img id="gameLogo" src="/assets/fifa_22.webp" alt="Game Image" />
          </abbr>
        </article>
        <article class="game" id="lotr">
          <abbr title="Lord of the Rings">
            <img id="gameLogo" src="/assets/LOTR.jpeg" alt="Game Image" />
          </abbr>
        </article>
        <article class="game" id="legoMaster">
          <abbr title="LegoMaster">
            <img id="gameLogo" src="/assets/LegoMaster.jpeg" alt="Game Image" />
          </abbr>
        </article>
        <article title="Pokemon">
          <abbr class="game" id="pokemon">
            <img id="gameLogo" src="/assets/Pokemon.jpeg" alt="Game Image" />
          </abbr>
        </article>
        <article class="game" id="mtg">
          <abbr title="Magic The Gathering">
            <img id="gameLogo" src="/assets/mtg.jpeg" alt="Game Image" />
          </abbr>
        </article>
      </section>

      <aside id="popup" class="popup">
        <section class="popup-content">
          <p>Je hebt geen toegang tot deze titel.</p>
          <button class="close-btn">&times;</button>
        </section>
      </aside>
      <aside id="popup" class="popup">
        <section class="popup-content">
          <p>Je hebt geen toegang tot deze titel.</p>
          <button class="close-btn">&times;</button>
        </section>
      </aside>

      <section class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">

        <article class="modal-dialog index-modal-dialog">
          <article class="modal-content">
            <header class="modal-header">
              <h5 class="modal-title" id="loginLabel">Login</h5>
              <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>

            <section class="modal-body">
              <form action="/" method="post" id="loginForm">
                <img class="mb-5" src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="" />
                <p class="mb-2 text-light">Login op je DoublePump Account!</p>
                <input type="email" class="form-control mb-4" id="emailInput" placeholder="naam@voorbeeld.com"
                  name="email" autocomplete="email" />
                <input type="password" class="form-control mb-4" id="passwordInput" placeholder="Wachtwoord"
                  name="password" autocomplete="current-password" />
                <p> Heeft u nog geen account?
                  <a href="/registratiepagina">Registreer hier!</a>
                </p>
                <p>Wachtwoord vergeten? <a href="/wachtwoordvergeten">Wijzig wachtwoord</a></p>
            </section>
            <footer class="modal-footer">
              <button class="btn btn-primary text-light">Inloggen</button>
            </footer>
            </form>
          </article>
        </article>
      </section>
    </main>

    <footer class="landingfooter">
      <p>
        © 2024
        <a href="https://www.ap.be" class="landingfooter-link">AP-Hogeschool</a>
      </p>
      <ul class="socials">
        <a href="https://www.instagram.com" class="landingsocial-link"><i class="bx bxl-instagram-alt"></i></a>
        <a href="https://www.facebook.com" class="landingsocial-link"><i class="bx bxl-facebook-square"></i></a>
        <a href="https://twitter.com" class="landingsocial-link"><i class="bx bxl-twitter"></i></a>
      </ul>
    </footer>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="bx bxs-up-arrow"></i>
    </button>
    <!-- Scripts -->
    <script src="/js/auth.js"></script>
  </body>

  </html>