<%- include('partials/header.ejs') %>

<body class="profilebody">
    <header class="navbar">
        <nav>
            <section class="navContainer">
                <section>
                    <img class="logo" src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="logo" />
                    <p>DOUBLEPUMP</p>
                </section>
                <ul class="navbar-nav">
                    <li>
                        <a href="/"><i class="bx bxs-home"></i> GameHub</a>
                    </li>
                    <li>
                        <a href="/avatar"><i class="bx bx-male-female"></i> Personages</a>
                    </li>
                    <li>
                        <a href="/favorieten"><i class="bx bxs-heart"></i> Favorieten</a>
                    </li>
                    <li>
                        <a href="/zwartelijst"><i class="bx bxs-x-circle"></i> Zwarte lijst</a>
                    </li>
                    <li class="profile">
                        <img src="/assets/popje3.webp" alt="Profile Picture" class="profile-picture-nav">
                        <a class="active" href="/profiel"> Gebruikersnaam</a>
                    </li>
                </ul>
            </section>
        </nav>
    </header>

    <nav class="navbar">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                    data-bs-target="#dashboard-tab-pane" type="button" role="tab" aria-controls="dashboard-tab-pane"
                    aria-selected="true">Dashboard</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane"
                    type="button" role="tab" aria-controls="settings-tab-pane"
                    aria-selected="false">Instellingen</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="logout-tab" data-bs-toggle="tab" data-bs-target="#logout-tab-pane"
                    type="button" role="tab" aria-controls="logout-tab-pane" aria-selected="false">Log uit</button>
            </li>
        </ul>
    </nav>
    <section class="tab-content" id="myTabContent">
        <section class="tab-pane fade show active" id="dashboard-tab-pane" role="tabpanel"
            aria-labelledby="dashboard-tab" tabindex="0">
            <section class="profile-header">
                <h1 class="username">Gebruikersnaam</h1>
                <img src="/assets/popje3.webp" alt="Profile Picture" class="profile-picture">
                <button class="change-avatar-button" data-bs-target="#myModal" data-bs-toggle="modal">Verander Avatar</button>

                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Kies een avatar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <article class="avatar">
                                    <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
                                        <img src="/assets/popje3.webp" alt="Meowscles" />
                                    </a>
                                    <p>Meowscles</p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </section>
        <section class="tab-pane fade" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab"
            tabindex="0">
            <section class="profile-header">
                <h2>Verander uw gebruikersnaam</h2>
                <input type="text" id="new-username" placeholder="Vul uw nieuwe gebruikersnaam in">
                <button type="button" id="save-username">Opslaan</button>
                <button type="button" id="delete" data-bs-target="#myModal1" data-bs-toggle="modal">Verwijder
                    account</button>

                <div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Account Verwijderen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <!-- Modal Body -->
                          <div class="modal-body">
                            Weet je zeker dat je je account wilt verwijderen?
                          </div>
                          <!-- Modal Footer -->
                          <div class="modal-footer">
                            <a href="/"><button type="button" class="btn btn-danger" id="confirmDelete">Verwijderen</button></a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuleren</button>
                          </div>
                        </div>
                      </div>
                </div>
            </section>
        </section>
        <section class="tab-pane fade" id="logout-tab-pane" role="tabpanel" aria-labelledby="logout-tab" tabindex="0">
            <section class="profile-header">
                <a href="/"><button type="button" id="logout">Log uit</button></a>
            </section>
        </section>
    </section>

</body>

</html>