<%- include('partials/header.ejs') %>
<body class="profilebody">
    <nav class="navbar">
        <button class="nav-button">Dashboard</button>
        <button class="nav-button">Settings</button>
        <button class="nav-button sign-out">Sign Out</button>
    </nav>

    <div class="profile-container">
        <div class="profile-header">
            <h1 class="username">Username</h1>
            <button class="change-avatar-button">CHANGE AVATAR ▼</button>
        </div>
        <img src="/assets/popje3.webp" alt="Profile Picture" class="profile-picture">
    </div>
</body>
</html>