<%- include('partials/header.ejs') %>

  <body class="registratiebody">
    <main class="register-main">
      <section class="register-container">
        <h2>Registratie</h2>
        <form action="index.html"> <!--method="post"-->
          <input type="text" name="firstname" placeholder="Voornaam" required>
          <input type="text" name="lastname" placeholder="Achternaam" required>
          <input type="email" name="email" placeholder="E-mailadres" required>
          <input type="text" name="username" placeholder="Gebruikersnaam" required>
          <input type="password" name="password" placeholder="Paswoord" required>
          <input type="password" name="repeatpassword" placeholder="Herhaal paswoord" required>
          <input type="submit" value="Registreer">
        </form>
      </section>
    </main>
  </body>
  </main>
  </body>

  </html>