<%- include('partials/header.ejs') %>

    <body class="registratiebody">
        <main class="register-main">
            <section class="register-container">
                <h2>Wachtwoord vergeten</h2>
                <form action="./wachtwoordvergeten" method="post">
                    <input type="email" name="email" placeholder="E-mailadres" required>
                    <input type="password" name="password" placeholder="Paswoord" required>
                    <input type="password" name="repeatpassword" placeholder="Herhaal paswoord" required>
                    <a href="./index"><input type="submit" value="Niet meer vergeten"></a>
                </form>
            </section>
        </main>
    </body>
    </main>
    </body>

    </html>