<%- include('partials/header.ejs') %>

  <body class="avatarbody">
    <!-- Nav -->
    <header class="navbar">
      <nav>
        <section class="navContainer">
          <section>
            <img class="logo" src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="logo" />
            <p>DOUBLEPUMP</p>
          </section>
          <ul class="navbar-nav">
            <li>
              <a href="/"><i class="bx bxs-home"></i> GameHub</a>
            </li>
            <li>
              <a href="/avatar"><i class="bx bx-male-female"></i> Personages</a>
            </li>
            <li>
              <a href="/favorieten"><i class="bx bxs-heart"></i> Favorieten</a>
            </li>
            <li>
              <a class="active" href="/zwartelijst"><i class="bx bxs-x-circle"></i> Zwarte lijst</a>
            </li>
            <li class="profile">
              <img src="/assets/popje3.webp" alt="Profile Picture" class="profile-picture-nav">
              <a href="/profiel"></i>
                <%= username %>
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </header>
    <hr />
    <main>
      <section class="avatars">
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje5.jpeg" alt="Brilliant Bomber" /></a>
          <p>Brilliant Bomber</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje6.jpeg" alt="Ninja" /></a>
          <p>Ninja</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje8.jpeg" alt="Ramirez" /></a>
          <p>Ramirez</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje3.webp" alt="Meowscles" /></a>
          <p>Meowscles</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje5.jpeg" alt="Brilliant Bomber" /></a>
          <p>Brilliant Bomber</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje7.jpeg" alt="Ghoul Trooper" /></a>
          <p>Ghoul Trooper</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popettje4.webp" alt="Drift" /></a>
          <p>Drift</p>
        </article>
        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje3.webp" alt="Meowscles" /></a>
          <p>Meowscles</p>
        </article>

        <article class="avatar">
          <a href="#" data-bs-target="#MyModal" data-bs-toggle="modal">
            <img src="/assets/popje3.webp" alt="Meowscles" /></a>
          <p>Meowscles</p>
        </article>
      </section>
    </main>

    <section class="modal fade" id="MyModal" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
      <article class="modal-dialog zwartelijst-modal-dialog">
        <article class="modal-content">
          <header class="modal-header">
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
          </header>
          <section class="modal-body">
            <section>
              <h2 id="modal-title">Meowscles</h2>
              <img id="modal-image" src="/assets/popje3.webp" alt="Ninja" />
            </section>
            <section id="modal-description">
              <p>Reden van illiminatie:</p>
              <textarea id="input-text" rows="4" cols="50" placeholder="typ hier..."></textarea>
            </section>
          </section>
          <footer class="modal-footer">
            <button type="button" class="btn btn-primary">Verwijderen</button>
            <button type="button" class="btn btn-danger">Opslaan</button>
          </footer>
        </article>
      </article>
    </section>

    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="bx bxs-up-arrow"></i>
    </button>
  </body>

  </html>